   <div class="row mt-5 justify-content-center align-items-center">
            <div class="col-md-4">
              <form action="/add" method="POST">
                <label>Título:</label>
                <input type="text" name="titulo" class="form-control">
                <label>Conteúdo:</label>
                <textarea class="form-control" name="conteudo"></textarea>
                <br>
                <input class="btn btn-success" type="submit" value="Salvar">
              </form>
            </div>
            <div class="col-md-4">
                <img src="foto.png" height="210px" >
            </div>
    </div>
